
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    font-size: 50px;
    border: none;
    padding:18px 35px ;
    font-size: 20px;
    font-weight: bold;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:top left, bottom right;
    

}


nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
.text-primary{
    color:#FD6E0A;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color:rgba(71, 71, 71, 1) ;
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 34px o 230px;
}
.banner-content{
    width: 585px;
}
.banner-profile-pic{
    width: 584px;
}
